<div class="add-plant-form">
  <form (ngSubmit)="addPlant()">
    <h2>Add a New Plant</h2>

    <!-- Plant Name -->
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="plantData.name" name="name" required />

    <!-- Description -->
    <label for="description">Description:</label>
    <textarea
      id="description"
      [(ngModel)]="plantData.description"
      name="description"
      required
    ></textarea>

    <!-- Properties -->
    <label for="properties">Properties:</label>
    <input type="text" id="properties" [(ngModel)]="plantData.properties" name="properties" />

    <!-- Uses -->
    <label for="uses">Uses:</label>
    <input type="text" id="uses" [(ngModel)]="plantData.uses" name="uses" />

    <!-- Region -->
    <label for="region">Region:</label>
    <input type="text" id="region" [(ngModel)]="plantData.region" name="region" />

    <!-- Precautions -->
    <label for="precautions">Precautions:</label>
    <input
      type="text"
      id="precautions"
      [(ngModel)]="plantData.precautions"
      name="precautions"
    />

    <!-- Interactions -->
    <label for="interactions">Interactions:</label>
    <input
      type="text"
      id="interactions"
      [(ngModel)]="plantData.interactions"
      name="interactions"
    />

    <!-- Images -->
    <label for="images">Images URL:</label>
    <input type="text" id="images" [(ngModel)]="plantData.images" name="images" />

    <!-- Articles -->
    <label for="articles">Articles URL:</label>
    <input type="text" id="articles" [(ngModel)]="plantData.articles" name="articles" />

    <!-- Videos -->
    <label for="videos">Videos URL:</label>
    <input type="text" id="videos" [(ngModel)]="plantData.videos" name="videos" />

    <!-- Submit -->
    <button type="submit mt-10">Save</button>
  </form>

  <!-- Messages -->
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
</div>
