<div class="recommendation-container">
  <div class="form-section">
    <div class="title-container">
      <h2 class="main-title">Find Plants Based on Your Needs</h2>
    </div>

    <!-- Form -->
    <form (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="besoin-de-sante">Health Needs:</label>
        <input
          type="text"
          id="besoin-de-sante"
          [(ngModel)]="formData.besoinDeSante"
          name="besoinDeSante"
          placeholder="E.g., Stress, Digestion"
          required
        />
      </div>
      <div class="form-group">
        <label for="preferences">Preferences:</label>
        <input
          type="text"
          id="preferences"
          [(ngModel)]="formData.preferences"
          name="preferences"
          placeholder="E.g., Local Plants"
        />
      </div>
      <div class="form-group">
        <label for="antecedents-medicaux">Medical History:</label>
        <input
          type="text"
          id="antecedents-medicaux"
          [(ngModel)]="formData.antecedentsMedicaux"
          name="antecedentsMedicaux"
          placeholder="E.g., Allergies"
        />
      </div>
      <button type="submit">Get Recommendations</button>
    </form>
  </div>

  <!-- Result Section -->
<!-- Result Section -->
<div *ngIf="plantResult && plantResult.length > 0" class="result-container">
  <div *ngFor="let plant of plantResult">
    <h3 class="plant-title">{{ plant.name }}</h3>
    <div class="plant-detail">
      <img [src]="plant.image" alt="{{ plant.name }}" class="plant-image" />
      <div class="plant-info">
        <p><strong>Properties:</strong> {{ plant.properties.join(', ') }}</p>
        <p><strong>Uses:</strong> {{ plant.uses.join(', ') }}</p>
        <p><strong>Precautions:</strong> {{ plant.precautions }}</p>
      </div>
    </div>
  </div>
</div>
