<div class="home-page">
  <!-- Hero Section -->
  <div class="hero-section">
    <div class="hero-text">
      <h1>Discover the beauty of nature, welcome to your ultimate plant paradise!</h1>
      <p>Explore a world of medicinal plants and uncover their secrets for wellness, healing, and natural remedies. Delve into the powerful benefits of nature’s finest botanicals and discover how they can enhance your health and vitality.</p>
    </div>
    <div class="hero-image">
      <img src="assets/plant1.jpg">
    </div>
  </div>

 

  
